/* Element selector */
html {
    background: lightblue;
}
h1 {
    color: blueviolet;
}
div {
    border: 5px solid black;
}

/* Class selector */
.yellow-text {
    color: yellow;
}

.brown-text {
    color: brown;
}

/* Id selector */
#green-text {
    color: green;
}

#red-text {
    color: red;
}

#kalam-google-font-family {
    font-family: 'Kalam', cursive;
}

#display-picture {
    background-color: burlywood;
    height: 200px;
    width: 200px;
    border: 5px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}


/* Attribute selector */